[Unit]
Description= service
After=network.target auditd.service

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/work/mailbox_notifier
ExecStart=python3 /home/pi/work/mailbox_notifier/main.py
Restart=always

[Install]
WantedBy=multi-user.target
